@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@keyframes opendoor { /* Keyframes for the animation that plays when you open the hatch */
    0% {
	transform: rotate3d(0, 1, 0, 0deg);
    }
    100% {
	transform: rotate3d(0, 1, 0, 88deg);
    }
}
.open { /* This class is appended to a hatch when the user clicks on it. It sets the properties to start the opening animation. This is done through onclick event handlers (see ./js/main.js file)*/
    animation: opendoor;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.hatch-content { /* This class contains the properties for the content that is behind the hatch */
    color: #000;
    box-shadow: inset 0 0 10px #000;
    float: left;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    background: #222;
}
[class*="col-"] {
    float: left;
}
.col-3 {  /* Sets column width */
    width: calc(25% - 10px);
}
* {
    box-sizing: border-box;
}
.hatch-label {
    transform-origin: 0% 0%;
    background-color: #000;
    line-height: 50vh;
    width: 100%;
    height: 100%;
}
.hatch {
    box-shadow: 0 0 3px #000;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    text-align: center;
    margin: 0 5px 0 5px;
    height: 50vh;
    color: #FFF;
    transform-origin: 0% 0%;
}
.animation-container {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    top: calc(50% - 50px);
}
.anim-obj {
<<<<<<< HEAD
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  box-shadow: 0 0 2px #000;
  background: #000;
=======
  animation-iteration-count: infinite !important;
  animation-duration: 1s !important;
  animation-timing-function: ease-in-out !important;
  box-shadow: 0 0 2px #FFF;
  background: #FFF;
>>>>>>> 53e71dcfed591282aa5bd9a078dac50494f83ce1
}
/* ============================ */
/* BEGIN: First Hatch Animation */
/* ============================ */
@keyframes anim-1-left-to-right { /* Moving left to right */
    0% {
	     left: 0;
    }
    100% {
	     left: 80px;
    }
}
@keyframes anim-1-top-to-bottom { /* Moving top to bottom */
    0% {
      top: 0;
    }
    100% {
      top: 80px;
    }
}
[class*="anim-1"] {
  position: absolute;
  border-radius: 30px;
  height: 20px;
  width: 20px;
}
.anim-1-ball-1 { /* The first, top left ball. Moving left to right */
    animation-name: anim-1-left-to-right;
    animation-direction: alternate;
}
.anim-1-ball-2 { /* The second, top left ball, moving from top to bottom */
  left: 80px;
  animation-name: anim-1-top-to-bottom;
  animation-direction: alternate;
}
.anim-1-ball-3 { /* The second, top left ball, moving from top to bottom */
  animation-name: anim-1-top-to-bottom;
  animation-direction: alternate-reverse;
}
.anim-1-ball-4 { /* The last, bottom right ball, Moving right to left */
  animation-name: anim-1-left-to-right;
  animation-direction: alternate-reverse;
  top: 80px;
}
/* ========================== */
/* END: First Hatch Animation */
/* ========================== */

/* BEGIN: Second Hatch Animation */
@keyframes anim-2-bar {
  0% {
    box-shadow: 0 0 2px #FFF;
    height: 1px;
  }
  100% {
    height: 100px;
    box-shadow: 0 0 6px #FFF;
  }
}
[class*="anim-2"] {
  height: 1px;
  width: 18px;
  float: left;
  margin: 0 1px 0 1px;
  animation-name: anim-2-bar;
  animation-direction: alternate;
}
/* END: Second Hatch Animation */

/* BEGIN: Third Hatch Animation */

@keyframes anim-3-square {
  0% {
    transform: scale(0.1,0.1) rotate(0deg);
    box-shadow: 0 0 2px #FFF;
  }
  50% {
    transform: scale(1,1) rotate(360deg);
    box-shadow: 0 0 6px #FFF;
  }
  100% {
    transform: scale(0.1,0.1) rotate(0deg);
    box-shadow: 0 0 2px #FFF;
  }
}
[class*="anim-3"] {
  transform-origin: 50% 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  animation-name: anim-3-square;
  animation-duration: 2s !important;
}
.anim-3-square-1 {top: 0px; left: 0px;}
.anim-3-square-2 {top: 0px; left: 50px;}
.anim-3-square-3 {top: 50px; left: 0px;}
.anim-3-square-4 {top: 50px; left: 50px;}
/* END: Third Hatch Animation */
/* BEGIN: Fourth Hatch Animation */
[class*="anim-4-bar"] {
  height: 50px;
  width: 20px;
  position: absolute;
}
.anim-4-bar-1 {
  animation-name: anim-4-bar-1;
  animation-direction: alternate;
}
.anim-4-bar-2 {
  left: 50px;
}
.anim-4-bar-3 {
  top: 50px;
}
.anim-4-bar-4 {
  left: 50px;
  top: 50px;
  width: -50px !important;
  animation-name: anim-4-bar-4;
  animation-direction: alternate-reverse;
}
/* END: Fourth Hatch Animation */
@media screen and (orientation: portrait) {
    .col-3 {
	width: calc(100% - 10px);
    }
    .hatch {
	height: 500px;
	line-height: 500px;
	margin-top: 5px;
	margin-bottom: 5px;
    }
}
